<h1>Sub Redditerests:</h1>
<hr>
<%= link_to "Create new sub", new_sub_url %>
<br>
<% firstcol = @subs[0...@subs.length/2] %>
<% secondcol = @subs[@subs.length/2...@subs.length] %>
<div class="row">
  <div class="col-md-6">
    <% firstcol.each do |sub| %>
      <a href="<%= sub_url(sub) %>" class="sub">
        <h4> <%= sub.name %> </h4>
      </a>
    <% end %>
  </div>
  <div class="col-md-6">
    <% secondcol.each do |sub| %>
      <a href="<%= sub_url(sub) %>" class="sub">
        <h4> <%= sub.name %> </h4>
      </a>
    <% end %>
  </div>

</div>
