<div class="comment" id="<%=comment.id%>" style="margin-left:<%= 30 + level * 30 %>px">
  <div class="content"><%= comment.content %></div>

  <button onClick=addComment(<%= comment.id %>)> Add Comment </button>
  <% if comment.author = current_user %>
    <button onClick=editComment(<%= comment.id %>)> Edit Comment </button>
  <% end %>
</div>
<hr>
<% post.comments_by_parent_id[comment.id].each do |child_comment| %>
  <%= render 'nested_comment', comment: child_comment, post: post, level: level + 1 %>
<% end %>
