<div class="comment" style="margin-left:<%= 30 + level * 30 %>px">
  
  <%= comment.content %>
  <%= button_to "Add Comment", new_comment_comment_url(comment) %>
  <%= button_to "Edit", edit_comment_url(comment) if comment.author == current_user %>
</div>
<hr>
<% post.comments_by_parent_id[comment.id].each do |child_comment| %>
  <%= render 'nested_comment', comment: child_comment, post: post, level: level + 1 %>
<% end %>
